<% col = 4 %>
<h1>Test report</h1>
<% 2.times do |x| %>
<% if x > 0 %>
  <div class="break-before"></div>
<% end %>
<h3>Category Page</h3>
<div class="table-container">
  <table>
    <thead>
      <tr>
        <% col.times do %>
          <th>A</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% 10.times do %>
      <tr>
        <% col.times do %>
          <td><div style="background: <%= ['red', 'blue', 'yellow'].sample %>;"><%= Faker::Lorem.paragraph(5) %></div></td>
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<% end %>